<form ng-submit="scoreDice()">
  <!-- iterates through dice (JS objects from dice.js factory) -->
  <div ng-repeat="die in dice" class="dice_div">
    <!--  creates a selectable die face image for each randomly generated die-->
    <input type="checkbox" ng-model="die.held" ng-click="scoreDice()" id="die{{die.id}}"> 
    </input>
    <label for="die{{die.id}}">
      <img ng-src="{{getImage(die.face)}}" class="die_face">
    </label>
  </div>
  <div style="clear: both;"></div>
  <p>
    <!-- $scope.score  is updated on every click of a die-->
    Score for these dice = {{score}}<br>
    <!-- shows accumulated points for the round -->
    Current Round Score = {{round}}
  </p>
</form>

<!-- saves score to round and rolls remaining dice -->
<!-- only visible if scorable dice are selected -->
<button ng-show="score" ng-click="scoreAndRoll()">Save these dice and roll again</button><br>

<div ng-controller="PlayerCtrl">
  Current Player - {{playerTurn.name}}<br>
  <!-- if all dice are unscorable, this becomes visible and advances to next player -->
  <button ng-show="unscorable" ng-click="endTurn()">End turn</button>
  <!-- saves score to player and passes to the next -->
  <button ng-show="score + round >= 350 && score" ng-click="endTurn()">Save these dice and end turn</button><br>
  <p ng-repeat="player in players">
    {{player.name}} - {{player.total}}
  </p>
</div>
<h5>
  Scoring - 
</h5>
<!-- ReadMe of scoring basics -->
<ul>
  <li>
    6 dice straight => 1500
  </li>
  <li>
    3 pairs => 750
  </li>
  <li>
    3 of a kind => face * 100<br>
    except ~~~ 3 ones => 1000
  </li>
  <li>
    4/5/6 of a kind => twice the value of the previous multiple<br>
    EXAMPLE - three 4's => 400; four 4's => 800; five 4's => 1600
  </li>
  <li>
    6 dice that wouldn't score otherwise => 500
  </li>
</ul>