<form ng-submit="scoreDice()">
  <!-- iterates through dice (JS objects from dice.js factory) -->
  <div ng-repeat="die in dice">
    <!--  creates a selectable die face image for each randomly generated die-->
    <input type="checkbox" ng-model="die.held" ng-click="scoreDice()" id="die{{die.id}}"> </input><label for="die{{die.id}}"><%= image_tag('/assets/{{getImage(die.face)}}', size: "50") %>
</label>
  </div>
  <p>
    <!-- $scope.score  is updated on every click of a die-->
    Score for these dice - {{score}}<br>
    <!-- shows die faces submitted** development only-->
    {{submitted}}
  </p>
</form>
<!-- saves score to round and rolls remaining dice -->
<button ng-show="score" ng-click="scoreAndRoll()">Save these dice and roll again</button><br>
<!-- ideally saves score to player and passes to the next TODO -->

<button ng-click="rollDice2()">Roll dice</button>
<p>
  <!-- shows accumulated points for the round -->
  Current Round Score = {{round}}
</p>
<div ng-controller="PlayerCtrl">
  Current Player - {{playerTurn.name}}<br>
  <button ng-show="score" ng-click="endTurn()">Save these dice and end turn</button><br>
  <button ng-click="playerSelector()">Next Player</button>
<p ng-repeat="player in players">
  {{player.name}} - {{player.total}}
</p>
  Players # - {{playersInThisGame}}
</div>
<h5>
  Scoring - 
</h5>
<!-- ReadMe of scoring basics -->
<ul>
  <li>
    6 dice straight => 1500
  </li>
  <li>
    3 pairs => 750
  </li>
  <li>
    3 of a kind => face * 100<br>
    ~~~ 3 ones => 1000
  </li>
  <li>
    4/5/6 of a kind => twice the value of the previous multiple<br>
    EXAMPLE - three 4's => 400; four 4's => 800; five 4's => 1600
  </li>
</ul>