<h2>
  New Game!
</h2>

<!-- populates $scope.players with the number chosen -->
<p ng-hide="players.length">
  How many players?
  <input type="number" ng-model="numberOfPlayers" ng-change="playerNumber()" ></input>
</p>

<!-- fix to allow players to select final point total -->
<!-- <p> -->
  <!-- Endgame point total? -->
  <!-- <input type="number" ng-model="players.totalPoints"> -->
<!-- </p> -->

<!-- displays text input for each player's name -->
<form ng-submit="createPlayers()">
  <div ng-repeat="player in players track by $index">
    <input type="text" ng-model="player.name" ng-change='change()' placeholder="Player name">
  </div>
  <!-- randomly shuffles player order -->
  <button ng-click="randomizePlayers(players)">Randomize these players</button>
</form>

<a ng-href="#/game">Start game</a>